body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.result-message {
  font-weight: 300;
  font-family: Tahoma;
  font-size: 2.5rem;
}

.file-upload {
  margin: 0 auto;
  padding: 13% 3%;
  /* height: 50vw; */
  /* position: relative; */
  /* object-fit: contain; */
  border-radius: 10px;
  border: dashed 1.5px #f6f7fa;
  background-color: #f6f7fa;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  width: 65%;
  height: 65%;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  object-fit: contain;
  border-radius: 10px;
  border: dashed 1.5px #35465d;
  background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #35465d;
  border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  /* text-align: center; */
}

.drag-text h3 {
  width: 50%;
  height: 50%;
  font-weight: 100;
  font-family: NanumSquareR;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #35465d;
  margin: 0 auto;
  text-align: center;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.nav-distance {
  padding: 2.1% 7.7%;
}

.section {
  margin-top: 100px;
}

.title {
  font-family: NanumSquareR;
  line-height: 1.67;
  text-align: center;
  color: #35465d;
}

.subtitle {
  font-family: NanumSquareR;
  line-height: 1.53;
  text-align: center;
  color: #35465d;
}

/* If screen size is 600px wide, or less, set the font-size of <div> to 30px */
@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
      .navbar-brand {
          font-size: 2rem;
      }

}
